
       body {
            background-color: #F3AC3C;
            margin: 150px auto;
        }

        div {
            height: 200px;
            width: 200px;
            background-color:#1A4341;
            margin: auto;
            position: relative;
        }

        div::before {
            content: "";
            height: 100px;
            width: 100px;
            background-color:#998235;
            position:absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        div::after{ 
            content: "";
            height: 50px;
            width: 50px;
            background-color:#F3AC3C;
            position:absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
